@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: 0 solid #fff;
}


.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
    position: relative;
}

.img__customers {
    opacity: 0.5;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.purple {
    color: #7342d6;
}

.lightgray {
    --tw-text-opacity: 1;
    color: rgba(36,62,99,var(--tw-text-opacity));
}

.logo {
    width: 55px;
}

.logo__text {
    font-size: 25px;
    font-weight: bold;
    margin-right: 326px;
}

img {
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 600px;
    padding: 8px;
    font-weight: bold;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    background-color: #7342d6;
    border-radius: 50px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--login {
    margin-left: 50px;
}

.sign__up {
    color: #fff;
}


.header__container {
    margin: 0 auto;
    padding: 24px 18px;
    max-width: 1200px;
    display: flex;
}

label {
    position: relative;
}

input {
    border: 1px solid lightgray;
    padding: 15px;
    width: 300px;
    border-radius: 100px;
}

.header__email {
    border: 1px solid var(--light-gray);
    padding: 8px 1px;
    border-radius: 60px;
    margin-bottom: 36px;
    transition: all 300ms ease;
}

.btn__style:hover {
    background: var(--dark-very-peri);
    color: #fff;
}

.btn__style {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    border: none;
    color: #fff;
    background: var(--very-peri);
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 300ms ease;
    border: 2px solid #7342d6;
    background-color: #7342d6;
    border-radius: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 24px;
    text-align: start;
}

h2 {
    font-size: 18px;
    margin-bottom: 32px;
    text-align: start;
    font-weight: lighter;
}

h3 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(160,174,192,var(--tw-text-opacity));
    margin-top: 50px;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    font-size: 60px;
}

P {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    font-weight: 500;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .service {
    display: flex;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    padding: 2rem 0.5rem;
    width: calc(100% / 3);
  }


